venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.vscode
app.db

backend/static/profile_pictures/**
!backend/static/profile_pictures/.gitkeep

backend/static/product_images/**
!backend/static/product_images/.gitkeep
